@model Chocolate.DataAccess.ViewModels.ShelfViewModel

@{
    ViewData["Title"] = "Shelves";
}

<h2>Edit Shelf</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="p-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Edit">

                        <div class="form-group row">
                            <label asp-for="Name" class="col-md-2 col-form-label">Name</label>
                            <div class="col-md-10">
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" asp-for="SectorId">Sector</label>
                            <div class="col-md-10">
                                <select asp-for="SectorId" class="form-control" asp-items="@(new SelectList(Model.Sectors,"Id","Id"))"></select>
                            </div>
                            <span asp-validation-for="SectorId" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-bordered-primary waves-effect  width-md waves-light">Save</button>

                        <!-- Button trigger to view the products modal -->
                        <button type="button" class="btn btn-bordered-primary waves-effect  width-md waves-light" data-toggle="modal" data-target="#viewProducts" data-animation="blur">
                            View Products
                        </button>

                        <!-- Button trigger to view the rawMaterials modal -->
                        <button type="button" class="btn btn-bordered-primary waves-effect  width-md waves-light" data-toggle="modal" data-target="#viewRawMaterials" data-animation="blur">
                            View RawMaterials
                        </button>
                        <a asp-action="Index" class="btn btn-lighten-primary waves-effect waves-primary width-md">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Products Modal -->
<div class="modal fade bs-example-modal-xl" id="viewProducts" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myExtraLargeModalLabel">Products</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <table id="shelf-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductShelves)
                        {

                            <tr>
                                <td>@item.Product.Name</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <input id="btnDeleteProduct" productId="@item.ProductId" type="submit" value="Delete" class="btn btn-bordered-danger waves-effect  width-md waves-light">
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <!-- Button to trigger add product modal -->
                <button type="button" class="align-content-center btn btn-success" data-toggle="modal" data-dismiss="modal" data-target="#addProduct">
                    Add Product
                </button>
            </div>
        </div>
    </div>
</div>

<!-- View Raw Materials Modal -->
<div class="modal fade bs-example-modal-xl" id="viewRawMaterials" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myExtraLargeModalLabel">RawMaterials</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <table id="shelf-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                    <thead class="thead-dark">
                        <tr>
                            <th>RawMaterial</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RawMaterialShelves)
                        {

                            <tr>
                                <td>@item.RawMaterial.Name</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <input id="btnDeleteRawMaterial" rawMaterialId="@item.RawMaterialId" type="submit" value="Delete" class="btn btn-bordered-danger waves-effect  width-md waves-light">
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <!--Button to trigger add RawMaterial modal-->
                <button type="button" class="align-content-center btn btn-success" data-toggle="modal" data-dismiss="modal" data-target="#addRawMaterial">
                    Add RawMaterial
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProduct" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add a product to the shelf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div class="p-2">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <form asp-action="Edit">

                                        <div class="form-group row">
                                            <label asp-for="Quantity" class="col-md-2 col-form-label">Quantity</label>
                                            <div class="col-md-10">
                                                <input type="number" asp-for="Quantity" class="form-control" />
                                            </div>
                                            <span asp-validation-for="Quantity" class="text-danger"></span>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" asp-for="ProductId">Product</label>
                                            <div class="col-md-10">
                                                <select asp-for="ProductId" class="form-control" asp-items="@(new SelectList(Model.Products,"Id","Name"))"></select>
                                            </div>
                                            <span asp-validation-for="ProductId" class="text-danger"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#viewProducts" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveProduct" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add RawMaterial Modal -->
<div class="modal fade" id="addRawMaterial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add a rawMaterial to the shelf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div class="p-2">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <form asp-action="Edit">

                                        <div class="form-group row">
                                            <label asp-for="Quantity" class="col-md-2 col-form-label">Quantity</label>
                                            <div class="col-md-10">
                                                <input type="number" id="rawMaterialQuantity" name="Quantity" class="form-control" />
                                            </div>
                                            <span asp-validation-for="Quantity" class="text-danger"></span>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" asp-for="RawMaterialId">RawMaterial</label>
                                            <div class="col-md-10">
                                                <select asp-for="RawMaterialId" class="form-control" asp-items="@(new SelectList(Model.RawMaterials,"Id","Name"))"></select>
                                            </div>
                                            <span asp-validation-for="RawMaterialId" class="text-danger"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#viewRawMaterials" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveRawMaterial" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $('#btnSaveProduct').click(function() {
        var shelfId = @Model.Id;
        var quantity = $('#Quantity').val();
        var selectedProduct = $('#ProductId').val();

        $.ajax({
            type: "POST",
            url: "/api/shelves",
            data: JSON.stringify({ 'productId': selectedProduct, 'shelfId': shelfId, 'quantity': quantity }),
            dataType: "json",
            contentType: "application/json"
        });

    });
        $('[id=btnDeleteProduct]').click(function() {
        var shelfId = @Model.Id;
        var quantity = $('#Quantity').val();
        var selectedProduct = this.getAttribute("productId");

        $.ajax({
            type: "Delete",
            url: "/api/shelves",
            data: JSON.stringify({ 'productId': selectedProduct, 'shelfId': shelfId, 'quantity': quantity }),
            dataType: "json",
            contentType: "application/json"
        });

    });

    $('#btnSaveRawMaterial').click(function () {
        var shelfId = @Model.Id;
        var quantity = $('#rawMaterialQuantity').val();
        var selectedProduct = $('#RawMaterialId').val();

        $.ajax({
            type: "POST",
            url: "/api/shelves/addRawMaterial",
            data: JSON.stringify({ 'rawMaterialId': selectedProduct, 'shelfId': shelfId, 'quantity': quantity }),
            dataType: "json",
            contentType: "application/json"
        });

    });

    $('[id=btnDeleteRawMaterial]').click(function() {
        var shelfId = @Model.Id;
        var selectedProduct = this.getAttribute("rawMaterialId");

        $.ajax({
            type: "Delete",
            url: "/api/shelves/deleteRawMaterial",
            data: JSON.stringify({ 'rawMaterialId': selectedProduct, 'shelfId': shelfId }),
            dataType: "json",
            contentType: "application/json"
        });

    });

    $(document).ajaxStop(function(){
        window.location.reload();
    });
    </script>
}